
@font-face {
  font-family: 'Jersey';
  src: url('./assets/fonts/Jersey10-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Jersey', sans-serif;
  image-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    to bottom,
    #e3c08f 0%,
    #b48f6a 100%
  );
}

h1 {
  font-size: 48px;
  text-align: center;
  margin: 20px 0;
  color: #fff;
  -webkit-text-stroke: 2px #000;
}
